![ice cream flavors](images/difference-flavors-of-ice-cream.jpeg)

# Let's prepare a dataframe of ice cream reviews in Pandas.



We would like to do some analytics on ice cream flavors in order to inform retailers about which flavors might be best to stock and ice cream manufacturers interested in how their flavors are being received.

Pandas offers tools to load, view, and process data.  Today we will be practicing:

1. Loading data from disk into working memory in the form of a dataframe
2. Viewing data in the dataframe
3. Exploring the number of rows and columns, column names and data types, and any missing data
4. How to remove columns and rows with missing data.
5. How to join two dataframes together.

For this notebook you will be guiding your instructor through the steps of loading and exploring a dataset in Pandas.  

As necessary, please use Google to find out how to complete each step.

# Load Modules

First, we have to import the Pandas module.  We will give it the alias 'pd'

In [1]:
import pandas as pd

# Load Data

There are 2 datasets in this repo.  One is called 'products.csv' and contains descriptions and ratings of several ice cream flavors.  The second is called 'reviews.csv' which contains thousands of reviews of the flavors from 'products.csv'.  Load both into separate dataframes named 'products' and 'reviews'.  

These data were downloaded from [Kaggle: Ice Cream Dataset](https://www.kaggle.com/tysonpo/ice-cream-dataset)

In [2]:
products = pd.read_csv("products.csv")

In [3]:
reviews = pd.read_csv("reviews.csv")

# Examine Data

Great!  Now let's take a look at these datasets.  

For **EACH** dataset, display: 

1. the first 5 rows, 
2. the last 5 rows, and 
3. 5 random rows.

In [4]:
products.head(2)

,key,name,subhead,description,rating,rating_count,ingredients
0,0_bj,Salted Caramel Core,Sweet Cream Ice Cream with Blonde Brownies & a...,Find your way to the ultimate ice cream experi...,3.7,208,"CREAM, SKIM MILK, LIQUID SUGAR (SUGAR, WATER),..."
1,1_bj,Netflix & Chilll'd™,Peanut Butter Ice Cream with Sweet & Salty Pre...,There’s something for everyone to watch on Net...,4.0,127,"CREAM, SKIM MILK, LIQUID SUGAR (SUGAR, WATER),..."

In [5]:
products.tail(2)

,key,name,subhead,description,rating,rating_count,ingredients
55,55_bj,Karamel Sutra® Core,Chocolate & Caramel Ice Creams with Fudge Chip...,Find your way to the ultimate ice cream experi...,4.2,94,"CREAM, SKIM MILK, LIQUID SUGAR (SUGAR, WATER),..."
56,56_bj,Peanut Butter Fudge Core,Chocolate & Peanut Butter Ice Creams with Mini...,Find your way to the ultimate ice cream experi...,4.7,19,"CREAM, SKIM MILK, LIQUID SUGAR (SUGAR, WATER),..."

In [6]:
products.sample(5)

,key,name,subhead,description,rating,rating_count,ingredients
19,19_bj,Chocolate Therapy®,Chocolate Ice Cream with Chocolate Cookies & S...,You know how sometimes you just want to scream...,4.8,72,"CREAM, LIQUID SUGAR (SUGAR, WATER), SKIM MILK,..."
42,42_bj,Salted Caramel Almond,Vanilla Bean Ice Cream with Roasted Almond Sli...,What makes Ben & Jerry’s so euphoric? Some say...,4.5,23,"CREAM, SKIM MILK, LIQUID SUGAR (SUGAR, WATER),..."
56,56_bj,Peanut Butter Fudge Core,Chocolate & Peanut Butter Ice Creams with Mini...,Find your way to the ultimate ice cream experi...,4.7,19,"CREAM, SKIM MILK, LIQUID SUGAR (SUGAR, WATER),..."
40,40_bj,"Red, White & Blueberry",Blueberry & Raspberry Ice Cream swirled with V...,"Hooray for Red, White & Blueberry! From the st...",3.4,39,"CREAM, SKIM MILK, WATER, LIQUID SUGAR (SUGAR, ..."
33,33_bj,New York Super Fudge Chunk®,Chocolate Ice Cream with White & Dark Fudge Ch...,"In 1985, to make a name for ourselves in New Y...",4.9,63,"CREAM, LIQUID SUGAR (SUGAR, WATER), SKIM MILK,..."

In [7]:
reviews.head()

,key,author,date,stars,title,helpful_yes,helpful_no,text
0,0_bj,Ilovebennjerry,2017-04-15,3,Not enough brownies!,10,3,"Super good, don't get me wrong. But I came for..."
1,0_bj,Sweettooth909,2020-01-05,5,I’m OBSESSED with this pint!,3,0,I decided to try it out although I’m not a hug...
2,0_bj,LaTanga71,2018-04-26,3,My favorite...More Caramel Please,5,2,My caramel core begins to disappear about half...
3,0_bj,chicago220,2018-01-14,5,Obsessed!!!,24,1,Why are people complaining about the blonde br...
4,0_bj,Kassidyk,2020-07-24,1,Worst Ice Cream Ever!,1,5,This ice cream is worst ice cream I’ve ever ta...

In [8]:
reviews.tail()

,key,author,date,stars,title,helpful_yes,helpful_no,text
7938,56_bj,Shellyshellzs,2020-04-30,5,Peanut butter fudge heaven,0,0,Oh man I use to be a whatever was on sale girl...
7939,56_bj,Or1234,2020-02-24,5,The best Chocolate Ice Cream Combo,0,0,This is the first chocolate ice cream I’ve tri...
7940,56_bj,ava21,2020-01-31,5,PERFECT!!,0,0,This is the best pint of ice cream I've ever h...
7941,56_bj,yeee,2019-03-13,5,My favorite!,0,0,This is my favorite ice cream ever! Can't get ...
7942,56_bj,Ellehcar,2020-07-24,5,The Best,0,0,This is my favorite flavor...I can just buy on...

In [9]:
reviews.sample(5)

,key,author,date,stars,title,helpful_yes,helpful_no,text
3542,22_bj,Mello,2018-03-27,5,BEST EVER,0,0,PLEASE always make this!!! LOVE LOVE LOVE!!!! ...
5091,31_bj,parliamentp,2019-01-05,4,NaN,0,0,Mint chocolate chip is my absolute favorite fl...
3867,24_bj,melodie,2020-09-10,5,she is delicious,0,0,"you all are out of your minds, coffee toffee b..."
630,4_bj,SmoreLove,2019-02-06,2,I will eat it because it is ice cream,0,0,"I will eat it because it is ice cream, and B&J..."
4521,28_bj,Willp147,2020-01-12,5,The best!,0,0,This is hands down by far my favorite Ben and ...

create a new view (a window into a dataframe where a dataframe is not copied) into the products dataframe.  Show only the names of the ice cream flavors and the rating of each flavor.  Display the first SEVEN rows.

In [10]:
products.loc[0:6, ['name', 'rating']]

                        name  rating
0        Salted Caramel Core     3.7
1        Netflix & Chilll'd™     4.0
2               Chip Happens     4.7
3                    Cannoli     3.6
4             Gimme S’more!™     4.5
5  Peanut Butter Half Baked®     4.9
6     Berry Sweet Mascarpone     4.6

In [11]:
products.iloc[0:6, [1, 4]]

                        name  rating
0        Salted Caramel Core     3.7
1        Netflix & Chilll'd™     4.0
2               Chip Happens     4.7
3                    Cannoli     3.6
4             Gimme S’more!™     4.5
5  Peanut Butter Half Baked®     4.9

Notice the differences in the indexes being used to display rows in the loc and iloc functions. Read more about the differences/similarities between these 2 functions [here](!https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different)

In [12]:
products[['name', 'rating']][0:7]

                        name  rating
0        Salted Caramel Core     3.7
1        Netflix & Chilll'd™     4.0
2               Chip Happens     4.7
3                    Cannoli     3.6
4             Gimme S’more!™     4.5
5  Peanut Butter Half Baked®     4.9
6     Berry Sweet Mascarpone     4.6

In [13]:
products[['name', 'rating']].head(7)

                        name  rating
0        Salted Caramel Core     3.7
1        Netflix & Chilll'd™     4.0
2               Chip Happens     4.7
3                    Cannoli     3.6
4             Gimme S’more!™     4.5
5  Peanut Butter Half Baked®     4.9
6     Berry Sweet Mascarpone     4.6

# Explore Data

Now print the shape of each dataframe, the number of rows and columns it contains

In [14]:
print('Shape of reviews:', reviews.shape)
print('Shape of products:', products.shape)

Shape of reviews: (7943, 8)
Shape of products: (57, 7)

Next, use 1 method for each dataframe to examine the names of the columns, data types, and number of non-null values.

In [15]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   key           57 non-null     object
 1   name          57 non-null     object
 2   subhead       57 non-null     object
 3   description   57 non-null     object
 4   rating        57 non-null     float64
 5   rating_count  57 non-null     int64
 6   ingredients   57 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 3.2+ KB

In [16]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7943 entries, 0 to 7942
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   key          7943 non-null   object
 1   author       7659 non-null   object
 2   date         7943 non-null   object
 3   stars        7943 non-null   int64
 4   title        5332 non-null   object
 5   helpful_yes  7943 non-null   int64
 6   helpful_no   7943 non-null   int64
 7   text         7943 non-null   object
dtypes: int64(3), object(5)
memory usage: 496.6+ KB

Do either dataframe have missing values? If so, print the number of missing values in each column. This will require chaining 2 methods.

In [17]:
reviews.isna().sum()

key               0
author          284
date              0
stars             0
title          2611
helpful_yes       0
helpful_no        0
text              0
dtype: int64

# Remove Null Values

If a column from one of the datasets was missing any data, we need to deal with that.  Our machine learning algorithms might throw an error if our datasets are missing data.

For each column with missing data:
1. if the column is missing >= 10% of the data, drop the **COLUMN**.
2. if the column is missing < 10% of the data, drop the **ROWS** that are missing data.

In [18]:
reviews.isna().sum()/len(reviews) * 100

key             0.000000
author          3.575475
date            0.000000
stars           0.000000
title          32.871711
helpful_yes     0.000000
helpful_no      0.000000
text            0.000000
dtype: float64

In [19]:
reviews.drop('title', axis = 1)

,key,author,date,stars,helpful_yes,helpful_no,text
0,0_bj,Ilovebennjerry,2017-04-15,3,10,3,"Super good, don't get me wrong. But I came for..."
1,0_bj,Sweettooth909,2020-01-05,5,3,0,I decided to try it out although I’m not a hug...
2,0_bj,LaTanga71,2018-04-26,3,5,2,My caramel core begins to disappear about half...
3,0_bj,chicago220,2018-01-14,5,24,1,Why are people complaining about the blonde br...
4,0_bj,Kassidyk,2020-07-24,1,1,5,This ice cream is worst ice cream I’ve ever ta...
...,...,...,...,...,...,...,...
7938,56_bj,Shellyshellzs,2020-04-30,5,0,0,Oh man I use to be a whatever was on sale girl...
7939,56_bj,Or1234,2020-02-24,5,0,0,This is the first chocolate ice cream I’ve tri...
7940,56_bj,ava21,2020-01-31,5,0,0,This is the best pint of ice cream I've ever h...
7941,56_bj,yeee,2019-03-13,5,0,0,This is my favorite ice cream ever! Can't get ...
7942,56_bj,Ellehcar,2020-07-24,5,0,0,This is my favorite flavor...I can just buy on...

In [22]:
reviews = reviews.dropna(axis = 1, thresh=0.9*len(reviews))

In [23]:
reviews.isna().sum()

key              0
author         284
date             0
stars            0
helpful_yes      0
helpful_no       0
text             0
dtype: int64

In [27]:
reviews.dropna(axis = 0, inplace=True)

<ipython-input-27-e319ff0e7add>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews.dropna(axis = 0, inplace=True)

Verify that your dataset no longer contains missing values

In [28]:
reviews.isna().sum()

key            0
author         0
date           0
stars          0
helpful_yes    0
helpful_no     0
text           0
dtype: int64

# Final Challenge: Join the Tables!

Both tables have a column labeled 'key'.  This column connects these tables by assigning each flavor a unique key and adding it to the reviews table so the keys for the flavors in 'products' matches the keys for flavor that each review describes.

Our last step will be to join the two tables so that the information from each flavor in the 'product' table is combined with each review in the 'reviews' table.

Name the resulting table 'icecream'

In [30]:
icecream = pd.merge(reviews, products, on = 'key')

Verify that 'icecream' now contains data from both 'reviews' and 'products' by displaying a random sample of 3 rows.  

Also, verify that 'icecream' has the same number of rows as 'reviews' and a number of columns equal to the sum of the number of columns from 'reviews' and 'products' minus 1.  (Why minus one?)

In [31]:
icecream.shape

(7659, 13)

In [32]:
icecream.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7659 entries, 0 to 7658
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   key           7659 non-null   object
 1   author        7659 non-null   object
 2   date          7659 non-null   object
 3   stars         7659 non-null   int64
 4   helpful_yes   7659 non-null   int64
 5   helpful_no    7659 non-null   int64
 6   text          7659 non-null   object
 7   name          7659 non-null   object
 8   subhead       7659 non-null   object
 9   description   7659 non-null   object
 10  rating        7659 non-null   float64
 11  rating_count  7659 non-null   int64
 12  ingredients   7659 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 837.7+ KB

How are the data ordered? Let's order them by flavor and then by date.

In [33]:
icecream = icecream.sort_values(by=['name', 'date'])

In [34]:
icecream.head()

,key,author,date,stars,helpful_yes,helpful_no,text,name,subhead,description,rating,rating_count,ingredients
992,10_bj,Flavor Reviewer,2017-04-12,5,5,3,Excellent! This flavor has all sorts of things...,Americone Dream®,Vanilla Ice Cream with Fudge-Covered Waffle Co...,"Founded in fudge-covered waffle cones, this ca...",4.7,370,"CREAM, SKIM MILK, LIQUID SUGAR (SUGAR, WATER),..."
980,10_bj,Americone Dream Lover,2017-04-27,5,15,3,"I eat a pint when I am sad, I eat a pint when ...",Americone Dream®,Vanilla Ice Cream with Fudge-Covered Waffle Co...,"Founded in fudge-covered waffle cones, this ca...",4.7,370,"CREAM, SKIM MILK, LIQUID SUGAR (SUGAR, WATER),..."
1156,10_bj,KellyCrayon,2017-05-13,5,0,1,My absolute favorite of all of Ben and Jerry's...,Americone Dream®,Vanilla Ice Cream with Fudge-Covered Waffle Co...,"Founded in fudge-covered waffle cones, this ca...",4.7,370,"CREAM, SKIM MILK, LIQUID SUGAR (SUGAR, WATER),..."
1006,10_bj,Ana808,2017-06-13,3,1,1,I decided to go with something out of the blue...,Americone Dream®,Vanilla Ice Cream with Fudge-Covered Waffle Co...,"Founded in fudge-covered waffle cones, this ca...",4.7,370,"CREAM, SKIM MILK, LIQUID SUGAR (SUGAR, WATER),..."
1027,10_bj,Jennibobunni,2017-06-14,5,0,0,My favorite ice cream in this world! For a lon...,Americone Dream®,Vanilla Ice Cream with Fudge-Covered Waffle Co...,"Founded in fudge-covered waffle cones, this ca...",4.7,370,"CREAM, SKIM MILK, LIQUID SUGAR (SUGAR, WATER),..."

# Congratulations!

You have:
1. loaded two tables into dataframes
2. viewed the beginning, end, and random samples of the tables
3. examined the shape, feature names, and data types in the tables
4. detected and removed missing values in two different ways
5. joined the two tables into one using a key